body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: 'public/tablesetting.jpg';

  }

  .w3-input w3-padding-16 w3-border{
    align-items: center;
  }

  .w3-tag w3-wide{
      background: red;
  }



  .event-chart{
    text-align: center;
    background: whitesmoke;

     
}


.total-events-h1{
    color: #4252af;
    border-style: double;
    border-radius:auto;
    
}

.all-events-show{
    margin-top: 100px;
    left: 30px;
    text-align: center;
    border: 3px white;
    border-style: double;
    color: black;
    background-image: url("img/tablesetting.jpg") ;
    font: roboto;

    list-style-type: none;

}



