body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  


  .w3-input w3-padding-16 w3-border{
    align-items: center;
  }


  .header {
      padding-left: 500px;
      position: fixed;
      background: url(img/darkgreen.png);
      background-position: center;
      background-size: 300px;
      background-repeat: no-repeat;
     
  }
  .home-display{
      padding-bottom: 500px;
  }


  .event-chart{
    text-align: center;
    padding: 55px;
    background-size: auto;
     
    }
    .main-container{

   background: url(img/trythis.png);
   background-position: center;
   background-size: cover;
}




.all-events-show{
    margin-top: 100px;
    left: 30px;
    text-align: center;
    border: 3px white;
    border-style: double;
    color: black;
   
    font: roboto;
    list-style-type: none;

}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }


